@font-face {
  font-family: 'CircularStd';
  font-weight: 300;
  font-style: normal;
  src: url('./sansSerif/book.woff2') format('woff2');
}

@font-face {
  font-family: 'CircularStd';
  font-weight: 400;
  font-style: normal;
  src: url('./sansSerif/medium.woff2') format('woff2');
}

@font-face {
  font-family: 'CircularStd';
  font-weight: 600;
  font-style: normal;
  src: url('./sansSerif/bold.woff2') format('woff2');
}

@font-face {
  font-family: 'CircularStd';
  font-weight: 700;
  font-style: normal;
  src: url('./sansSerif/black.woff2') format('woff2');
}
